// Main colors
$primary: #0054A6;
$secondary: #0093D0;

// State colors
$success: #00A64C;
$warning: #FFB800;
$danger: #B20000;
$info: #0054A6;

// Background colors
$bg-green: #E3FEF0;
$bg-yellow: #F9F4E8;
$bg-red: #F7EBEB;
$bg-blue: #F4FCFF;
$bg-gray: #F9F9F9;
